In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from datetime import date

# Extract Summary

In [17]:
  fb = pd.read_csv('data_input/data.csv')
  fb

,ad_id,reporting_start,reporting_end,campaign_id,fb_campaign_id,age,gender,interest1,interest2,interest3,impressions,clicks,spent,total_conversion,approved_conversion
0,708746,17/08/2017,17/08/2017,916,103916,30-34,M,15,17,17,7350.000000,1,1.43,2.0,1.0
1,708749,17/08/2017,17/08/2017,916,103917,30-34,M,16,19,21,17861.000000,2,1.82,2.0,0.0
2,708771,17/08/2017,17/08/2017,916,103920,30-34,M,20,25,22,693.000000,0,0.00,1.0,0.0
3,708815,30/08/2017,30/08/2017,916,103928,30-34,M,28,32,32,4259.000000,1,1.25,1.0,0.0
4,708818,17/08/2017,17/08/2017,916,103928,30-34,M,28,33,32,4133.000000,1,1.29,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1138,1314410,19/08/2017,19/08/2017,45-49,F,109,111,114,1129773,252,358.189997,13,2.00,NaN,NaN
1139,1314411,19/08/2017,19/08/2017,45-49,F,110,111,116,637549,120,173.880003,3,0.00,NaN,NaN
1140,1314412,19/08/2017,19/08/2017,45-49,F,111,113,117,151531,28,40.289999,2,0.00,NaN,NaN
1141,1314414,17/08/2017,17/08/2017,45-49,F,113,114,117,790253,135,198.710000,8,2.00,NaN,NaN
1142,1314415,17/08/2017,17/08/2017,45-49,F,114,116,118,513161,114,165.609999,5,2.00,NaN,NaN

In [20]:
cpc = campaigns.groupby(['campaign_id'])[['936','1178']].sum()

KeyError: "Columns not found: '936', '1178'"

In [25]:
def extract_summary(file_path="data_input/data.csv", id=['936','1178']):
  """   
  Extract all relevant information, containing 6 variables
  start_date, end_date, total_spent, total_conversion, cpc_1, cpc_2
  """
  fb = pd.read_csv(file_path)
  campaigns = fb[fb['campaign_id'].isin(id)]
  campaigns = campaigns[campaigns.spent > 0]

  # Make sure to passed in appropriate preprocessing before extracting the start and end date
  campaigns['reporting_start'] = campaigns['reporting_start'].astype('datetime64')
  start_date = campaigns['reporting_start'].min().strftime(format="%d %b %Y")
  end_date = campaigns['reporting_start'].max().strftime(format="%d %b %Y")

  total_spent = int(campaigns['spent'].sum())
  total_conversion = int(campaigns['total_conversion'].sum())

  # Create a cost per conversion dictionary per campaign
  # Cost per conversion is spent divided by total conversion
  cpc = campaigns.groupby(['campaign_id'])[['spent','total_conversion']].sum()
  cpc['CPC'] = cpc['spent']/cpc['total_conversion']
  cpc_each = dict()
  for each in id:
    cpc_each[each] = round(float(cpc[cpc.index == each]['CPC']), 2)

  return {
    "start_date": start_date,
    "end_date": end_date,
    "total_spent": total_spent,
    "total_conversion": total_conversion,
    "cpc": cpc_each}

In [26]:
extract_summary()

{'start_date': '18 Aug 2017',
 'end_date': '30 Aug 2017',
 'total_spent': 19470,
 'total_conversion': 1398,
 'cpc': {'936': 8.13, '1178': 15.91}}

In [23]:
file_path="data_input/data.csv"
id=['936','1178']


fb = pd.read_csv(file_path)
campaigns = fb[fb['campaign_id'].isin(id)]
campaigns = campaigns[campaigns.spent > 0]

In [5]:
campaigns.head()

,ad_id,reporting_start,reporting_end,campaign_id,fb_campaign_id,age,gender,interest1,interest2,interest3,impressions,clicks,spent,total_conversion,approved_conversion
55,734210,25/08/2017,25/08/2017,936,108654,30-34,M,10,16,13,13329.0,4,5.63,1.0,1.0
56,734215,26/08/2017,26/08/2017,936,108655,30-34,M,15,19,17,13659.0,3,3.84,1.0,0.0
60,734290,26/08/2017,26/08/2017,936,108668,30-34,M,29,32,35,5374.0,1,1.04,4.0,0.0
63,734352,27/08/2017,27/08/2017,936,108678,35-39,M,10,11,16,4423.0,1,1.46,1.0,1.0
64,734361,29/08/2017,29/08/2017,936,108680,35-39,M,16,19,19,12382.0,2,2.84,1.0,1.0

In [7]:
# Make sure to passed in appropriate preprocessing before extracting the start and end date
campaigns['reporting_start'] = ___
start_date = ___.min().strftime(format="%d %b %Y")
end_date = ___.max().strftime(format="%d %b %Y")

total_spent = int(___.sum())
total_conversion = int(___.sum())

----

In [21]:
cpc = campaigns.groupby(['___'])[['___', '___']].sum()
cpc['CPC'] = cpc['___']/cpc['___']
cpc_each = dict()

for each in id:
    cpc_each[each] = round(float(cpc[cpc.index == each]['CPC']), 2)

In [22]:
cpc_each

{'936': 8.13, '1178': 15.91}

----

# Create Plot

In [ ]:
def create_plot(file_path="data_input/data.csv", id=['936', '1178']):
  """   
  Fetch data from data source and export as plot
  """
  fb = pd.read_csv(file_path, parse_dates=[1,2])
  campaigns = fb[fb['campaign_id'].isin(id)]
  campaigns = campaigns[campaigns.spent > 0]

  # Create a grouped dataframe based on campaign id, age group, and reporting date
  # Calculate the total converision of each group
  grouped = campaigns.groupby(by=['___', '___', '___'], as_index=False)['___'].___

  fig = plt.figure(1, figsize=(15,6))

  # Iterate to create 1 plot campaign at a time
  for i, campaign in enumerate(grouped.campaign_id.unique()):
    plt.subplot(1, len(id), i+1)
    
    df = grouped[grouped[___] == campaign].loc[:,['age', 'reporting_start', 'total_conversion']]
    df['reporting_start'] = df['reporting_start'].dt.date
    pivot = df.pivot(index='___', columns='___', values='___').fillna(0)
    pivot.plot.bar(ax=plt.gca())

In [ ]:
# create_plot()

In [28]:
campaigns.head()

,ad_id,reporting_start,reporting_end,campaign_id,fb_campaign_id,age,gender,interest1,interest2,interest3,impressions,clicks,spent,total_conversion,approved_conversion
55,734210,25/08/2017,25/08/2017,936,108654,30-34,M,10,16,13,13329.0,4,5.63,1.0,1.0
56,734215,26/08/2017,26/08/2017,936,108655,30-34,M,15,19,17,13659.0,3,3.84,1.0,0.0
60,734290,26/08/2017,26/08/2017,936,108668,30-34,M,29,32,35,5374.0,1,1.04,4.0,0.0
63,734352,27/08/2017,27/08/2017,936,108678,35-39,M,10,11,16,4423.0,1,1.46,1.0,1.0
64,734361,29/08/2017,29/08/2017,936,108680,35-39,M,16,19,19,12382.0,2,2.84,1.0,1.0

In [25]:

grouped = campaigns.groupby(
        by=['___', '___', '___'], as_index=False)['___'].sum()

grouped

   campaign_id    age reporting_start  total_conversion
0         1178  30-34      2017-08-19              33.0
1         1178  30-34      2017-08-20              38.0
2         1178  30-34      2017-08-21              24.0
3         1178  30-34      2017-08-22              56.0
4         1178  30-34      2017-08-23             135.0
..         ...    ...             ...               ...
74         936  45-49      2017-08-26              17.0
75         936  45-49      2017-08-27               2.0
76         936  45-49      2017-08-28               1.0
77         936  45-49      2017-08-29               2.0
78         936  45-49      2017-08-30               1.0

[79 rows x 4 columns]

In [33]:
fig = plt.figure(1, figsize=(15, 6))

for i, campaign in enumerate(grouped.campaign_id.unique()):
        plt.subplot(1, len(id), i+1)

        df = grouped[grouped['___'] == campaign].loc[:, [
            'age', 'reporting_start', 'total_conversion']]
        df['reporting_start'] = pd.to_datetime(
            df['reporting_start'], dayfirst=True).dt.date
        pivot = df.pivot(index='___', columns='___',
                         values='___').fillna(0)
        pivot.plot.bar(ax=plt.gca())